
@{
    Layout = null;
    var ganador = (Proyecto_201700404.Clases.Ganador)TempData["Ganador"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ganador</title>
    <link href="~/Content/Ganador.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body class="variable">

    <div style="width: 40%;height:auto; background-color: rgba(255, 255, 255,.75); border-radius:10px; position:absolute; top:50%; left:50%; transform:translate(-47%,-50%)">
        <div class="bg-dark " style="border-radius: 10px 10px 0px 0px;">
            <h1 class="text-white text-center">Ganador</h1>
            
            @if (Proyecto_201700404.Clases.Variables.ganador.ganador == "Empate")
            {
                <h3 class="text-white text-center"> HUBO UN EMPATE</h3>
            }
            else { 
            <h3 class="text-white text-center">@Proyecto_201700404.Clases.Variables.ganador.ganador has ganado </h3>
            }
                    
               


        </div>
        <table class="table">
            <thead class="thead-dark">
                
                <tr>
                    <th scope="col">
                        Jugador
                    </th>
                    <th scope="col">
                        Movimientos
                    </th>
                    <th scope="col">
                        No. de Fichas
                    </th>

                </tr>


            </thead>
            <tbody>
                <tr>
                    <td class="tex-white">
                        @Proyecto_201700404.Clases.Variables.ganador
                    </td>
                    <td>
                        @Proyecto_201700404.Clases.Variables.ganador.movimientosGanador
                    </td>
                    <td>
                        @Proyecto_201700404.Clases.Variables.ganador.fichasGanador
                    </td>

                </tr>

                <tr>
                    <td>
                         @Proyecto_201700404.Clases.Variables.ganador.perdedor
                    </td>
                    <td>
                        @Proyecto_201700404.Clases.Variables.ganador.movimeintoPerdedor
                    </td>
                    <td>
                         @Proyecto_201700404.Clases.Variables.ganador.fichasPerdedor
                    </td>

                </tr>

            </tbody>

        </table>
        <div class="form-group">

            <button class=" form-control btn btn-warning center-block">
                @Html.ActionLink("Regresar a menu principal","Player","Player",new { area=""}, new { @class = " text-white" })

            </button>
        </div>

        

    </div>
    
    
</body>
</html>
