@using Proyecto_201700404.Clases



@{
    Partida partida = Proyecto_201700404.Clases.Variables.partida;
    int altura = 100 / (partida.getColumnasTabler() + 2);
    
}
<div class="container">
    <div class="row" id="tablero">
        <div class="col-2">
            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Movimientos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            @partida.JugadorLocal().Alias :
                        </th>
                        <th>@partida.JugadorLocal().getMovimientos()</th>
                    </tr>
                    <tr>
                        <th>
                            @partida.JugadorInvitado().Alias :
                        </th>
                        <th>@partida.JugadorInvitado().getMovimientos()</th>
                    </tr>
                    <tr>
                        <th>
                            Valides de la Jugada
                        </th>

                    </tr>

                    <tr>

                        @if (Variables.valides == 0)
                        {
                            <th>
                                Aun no empieza la partida
                            </th>

                        }
                        else if (Variables.valides == 1)
                        {
                            <th>
                                La jugada es valida @Variables.validesde
                            </th>
                        }
                        else if (Variables.valides == 2)
                        {
                            <th>
                                La jugada es invalida @Variables.validesde
                            </th>

                        }


                    </tr>

                </tbody>

            </table>








            <div style="height:20%; border-radius:5px;" class="bg-dark">
                <div class="row  justify-content-md-center">
                    <label style=" font-family:'Agency FB';font-size:50px;" class="text-white">Turno de:</label>
                </div>
                <div class="row justify-content-md-center ">
                    <p style=" font-family:'Agency FB';font-size:30px;" class="text-white">
                        @if (partida.getTurno() == 1)
                        {
                            <label>@partida.JugadorLocal().Alias</label>
                        }
                        else
                        {
                            <label>@partida.JugadorInvitado().Alias</label>
                        }



                    </p>
                </div>
                @*<div class="row justify-content-md-center  ">
                    <div style="width:50%; height:85px;" class="btn btn-success border">
                        @if (partida.getTurno() == 1)
                        {
                            <button style="height:100%;width:100%; border-radius:100%;" class="@partida.JugadorLocal().getFichaTurno().clase"></button>

                          


                        }
                        else
                        {
                            <button style="height:100%;width:100%; border-radius:100%;" class="@partida.JugadorInvitado().getFichaTurno().clase"></button>



                        }
                    </div>
                </div>*@

            </div>
            @if (Proyecto_201700404.Clases.Variables.Se_termino == 1)
            {

                using (Html.BeginForm("verGanador", "JugarXtreme", FormMethod.Post))
                {
                    <div class="form-group row">
                        <button value="Ir a partida" type="submit" class="form-control btn btn-primary">
                            Revelar al ganador  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </button>

                    </div>
                }


               

            }





        </div>
        <div class="col-9">
            <div @*class="cuadrojuego"*@>
                <div class="row">

                    @if (partida.getColumnasTabler() < 7)
                    {

                        <style>
                            .alto {
                                height: 85px;
                            }
                        </style>

                    }
                    else if (partida.getColumnasTabler() > 6 && partida.getColumnasTabler() < 10)
                    {
                        <style>
                            .alto {
                                height: 65px;
                            }
                        </style>
                    }
                    else if (partida.getColumnasTabler() > 9 && partida.getColumnasTabler() < 14)
                    {
                        <style>
                            .alto {
                                height: 55px;
                            }
                        </style>
                    }
                    else if (partida.getColumnasTabler() > 13 && partida.getColumnasTabler() < 17)
                    {
                        <style>
                            .alto {
                                height: 45px;
                            }
                        </style>
                    }
                    else if (partida.getColumnasTabler() > 16 && partida.getColumnasTabler() < 21)
                    {
                        <style>
                            .alto {
                                height: 30px;
                            }
                        </style>
                    }

                    <style>
                        .ficha {
                            height: 100%;
                            width: 100%;
                            border-radius: 100% !important;
                            border-color: white;
                        }   
                    </style>



                    @for (int fil = 0; fil < partida.getFilasTablero() + 2; fil++)
                    {
                        for (int col = 0; col < partida.getColumnasTabler() + 2; col++)
                        {


                            if (fil == 0 && col > 0 && col < partida.getColumnasTabler() + 1)
                            {
                                <div style="height:@altura vh;" class="col btn btn-dark border alto">@letra(col)</div>
                            }
                            else if (fil == partida.getFilasTablero() + 1 && col > 0 && col < partida.getColumnasTabler() + 1)
                            {
                                <div style="height:@altura vh;" class="col btn btn-dark border alto">@letra(col)</div>
                            }
                            else if (col == 0 && fil > 0 && fil < partida.getFilasTablero() + 1)
                            {
                                <div style="height:@altura vh;" class="col btn btn-dark border alto">@fil</div>
                            }
                            else if (col == partida.getColumnasTabler() + 1 && fil > 0 && fil < partida.getFilasTablero() + 1)
                            {
                                <div style="height:@altura vh;" class="col btn btn-dark border alto">@fil</div>
                            }
                            else if (fil == 0)
                            {
                                if (col == 0 | col == partida.getColumnasTabler() + 1)
                                {
                                    <div style="height:@altura vh;" class="col btn btn-dark border alto"></div>
                                }
                            }
                            else if (fil == partida.getFilasTablero() + 1)
                            {
                                if (col == 0 | col == partida.getColumnasTabler() + 1)
                                {
                                    <div style="height:@altura vh;" class="col btn btn-dark border alto"></div>
                                }
                            }
                            else
                            {
                            <div style="height:@altura  vh;" class="col btn btn-success border " id="@fil.ToString()-@col.ToString()">
                                @foreach (var item in partida.getListaFichas())
                                {
                                    if (item.fila == fil && item.columna == col)
                                    {
                                        <button class="ficha @item.clase"></button>

                                    }

                                }
                            </div>
                            }


                 



                        }
                        <div class="w-100"></div>
                    }

                </div>
            </div>


        </div>
        <div class="col-1">


        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $("#tablero div ").on("click", function (event) {
        var divId = $(this).attr("id");

        $.ajax({
            url: "@Url.Action("Jugar")",
            type: "Post",
            data: { idcelda: divId },
            success: function (data) {
                $("#tablero").html(data);
            }
        }
        );
    });

</script>


@{

    string letra(int col)
    {
        string l = "";
        switch (col)
        {
            case 1:
                l = "A";
                break;
            case 2:
                l = "B";
                break;
            case 3:
                l = "C";
                break;
            case 4:
                l = "D";
                break;
            case 5:
                l = "E";
                break;
            case 6:
                l = "F";
                break;
            case 7:
                l = "G";
                break;
            case 8:
                l = "H";
                break;
            case 9:
                l = "I";
                break;
            case 10:
                l = "J";
                break;
            case 11:
                l = "K";
                break;
            case 12:
                l = "L";
                break;
            case 13:
                l = "M";
                break;
            case 14:
                l = "N";
                break;
            case 15:
                l = "O";
                break;
            case 16:
                l = "P";
                break;
            case 17:
                l = "Q";
                break;
            case 18:
                l = "R";
                break;
            case 19:
                l = "S";
                break;
            case 20:
                l = "T";
                break;
            case 21:
                l = "U";
                break;

        }

        return l;

    }
}
