@using Proyecto_201700404.Clases
@{
    Partida partida = Proyecto_201700404.Clases.Variables.partida;
    int altura = 100 / (partida.getColumnasTabler() + 2);
    
}
<div class="container">
    <div class="row" id="tablero">
        <div class="col-2">


        </div>
        <div class="col-9">
            <div @*class="cuadrojuego"*@>
                <div class="row">

                    @if (partida.getColumnasTabler() < 7)
                    {

                        <style>
                            .alto {
                                height: 85px;
                            }
                        </style>

                    }
                    else if (partida.getColumnasTabler() > 6 && partida.getColumnasTabler() < 10)
                    {
                        <style>
                            .alto {
                                height: 65px;
                            }
                        </style>
                    }
                    else if (partida.getColumnasTabler() > 9 && partida.getColumnasTabler() < 14)
                    {
                        <style>
                            .alto {
                                height: 55px;
                            }
                        </style>
                    }
                    else if (partida.getColumnasTabler() > 13 && partida.getColumnasTabler() < 17)
                    {
                        <style>
                            .alto {
                                height: 45px;
                            }
                        </style>
                    }
                    else if (partida.getColumnasTabler() > 16 && partida.getColumnasTabler() < 21)
                    {
                        <style>
                            .alto {
                                height: 30px;
                            }
                        </style>
                    }

                    <style>
                        .ficha {
                            height: 100%;
                            width: 100%;
                            border-radius: 100% !important;
                            border-color: white;
                        }   
                    </style>



                    @for (int fil = 0; fil < partida.getFilasTablero() + 2; fil++)
                    {
                        for (int col = 0; col < partida.getColumnasTabler() + 2; col++)
                        {


                            if (fil == 0 && col > 0 && col < partida.getColumnasTabler() + 1)
                            {
                                <div style="height:@altura vh;" class="col btn btn-dark border alto">@letra(col)</div>
                            }
                            else if (fil == partida.getFilasTablero() + 1 && col > 0 && col < partida.getColumnasTabler() + 1)
                            {
                                <div style="height:@altura vh;" class="col btn btn-dark border alto">@letra(col)</div>
                            }
                            else if (col == 0 && fil > 0 && fil < partida.getFilasTablero() + 1)
                            {
                                <div style="height:@altura vh;" class="col btn btn-dark border alto">@fil</div>
                            }
                            else if (col == partida.getColumnasTabler() + 1 && fil > 0 && fil < partida.getFilasTablero() + 1)
                            {
                                <div style="height:@altura vh;" class="col btn btn-dark border alto">@fil</div>
                            }
                            else if (fil == 0)
                            {
                                if (col == 0 | col == partida.getColumnasTabler() + 1)
                                {
                                    <div style="height:@altura vh;" class="col btn btn-dark border alto"></div>
                                }
                            }
                            else if (fil == partida.getFilasTablero() + 1)
                            {
                                if (col == 0 | col == partida.getColumnasTabler() + 1)
                                {
                                    <div style="height:@altura vh;" class="col btn btn-dark border alto"></div>
                                }
                            }
                            else
                            {
                            <div style="height:@altura  vh;" class="col btn btn-success border " id="@fil.ToString()-@col.ToString()">
                                @foreach (var item in partida.getListaFichas())
                                {
                                    if (item.fila == fil && item.columna == col)
                                    {
                                        <button class="ficha @item.clase"></button>

                                    }

                                }
                            </div>
                            }


                 



                        }
                        <div class="w-100"></div>
                    }

                </div>
            </div>


        </div>
        <div class="col-1">


        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $("#tablero div ").on("click", function (event) {
        var divId = $(this).attr("id");

        $.ajax({
            url: "@Url.Action("Jugar")",
            type: "Post",
            data: { idcelda: divId },
            success: function (data) {
                $("#tablero").html(data);
            }
        }
        );
    });

</script>


@{

    string letra(int col)
    {
        string l = "";
        switch (col)
        {
            case 1:
                l = "A";
                break;
            case 2:
                l = "B";
                break;
            case 3:
                l = "C";
                break;
            case 4:
                l = "D";
                break;
            case 5:
                l = "E";
                break;
            case 6:
                l = "F";
                break;
            case 7:
                l = "G";
                break;
            case 8:
                l = "H";
                break;
            case 9:
                l = "I";
                break;
            case 10:
                l = "J";
                break;
            case 11:
                l = "K";
                break;
            case 12:
                l = "L";
                break;
            case 13:
                l = "M";
                break;
            case 14:
                l = "N";
                break;
            case 15:
                l = "O";
                break;
            case 16:
                l = "P";
                break;
            case 17:
                l = "Q";
                break;
            case 18:
                l = "R";
                break;
            case 19:
                l = "S";
                break;
            case 20:
                l = "T";
                break;
            case 21:
                l = "U";
                break;

        }

        return l;

    }
}
