@model Proyecto_201700404.Models.ViewModels.MovimientoViewModel
@{
    ViewBag.Title = "Partida";
    Layout = "~/Views/Master/MasterPlayer.cshtml";



}

    <div class="container" id="prueba">

        <div class="cuadrojuego">
            @if (ViewBag.lista == null)
            {
                

                <div class="row" id="tablero">

                    @for (int fil = 0; fil < 10; fil++)
                    {
                        for (int col = 0; col < 10; col++)
                        {
                            if (fil == 0 && col > 0)
                            {
                                <div class="col btn btn-danger border casilla " disabled="true">@letra(col)</div>
                            }
                            else if (fil > 0 && fil < 9 && col == 0)
                            {

                                <div class="col btn btn-danger border casilla" disabled="true">@fil</div>
                            }
                            else if (fil == 9 && col >= 0)
                            {

                                <div class="col btn btn-danger border casilla" disabled="true">@letra(col)</div>

                            }
                            else if (fil != 0 && col == 9)
                            {
                                <div class="col btn btn-danger border casilla" disabled="true">@fil</div>
                            }
                            else if (fil == 0 && col == 0)
                            {
                                <div class="col btn btn-danger border casilla" disabled="true">@letra(col)</div>

                            }


                            else
                            {


                                <div class="col btn btn-success border casilla" id="@fil.ToString()-@col.ToString()"> </div>



                            }


                        }
                        <div class="w-100"></div>


                    }
                </div>

            }
            else
            {
                
                

                <div class="row" id="tablero">

                    @for (int fil = 0; fil < 10; fil++)
                    {
                        for (int col = 0; col < 10; col++)
                        {
                            if (fil == 0 && col > 0)
                            {
                                <div class="col btn btn-danger border casilla " disabled="true">@letra(col)</div>
                            }
                            else if (fil > 0 && fil < 9 && col == 0)
                            {

                                <div class="col btn btn-danger border casilla" disabled="true">@fil</div>
                            }
                            else if (fil == 9 && col >= 0)
                            {

                                <div class="col btn btn-danger border casilla" disabled="true">@letra(col)</div>

                            }
                            else if (fil != 0 && col == 9)
                            {
                                <div class="col btn btn-danger border casilla" disabled="true">@fil</div>
                            }
                            else if (fil == 0 && col == 0)
                            {
                                <div class="col btn btn-danger border casilla" disabled="true">@letra(col)</div>

                            }


                            else
                            {
                                <div class="col btn btn-success border casilla" id="@fil.ToString()-@col.ToString()">

                                    @foreach (Proyecto_201700404.Models.ViewModels.MovimientoViewModel item in ViewBag.lista)
                                    {
                                        if (item.col == col && item.fila == fil)
                                        {

                                            if (item.color == "blanco")
                                            {
                                                <button class="ficha bg-white"></button>

                                            }
                                            else if (item.color == "negro")
                                            {

                                                <button class="ficha bg-dark"></button>
                                            }

                                        }



                                    }


                                </div>
                            }


                        }
                        <div class="w-100"></div>


                    }
                </div>

            }





            @*<div class="row">

        @for (int fil = 0; fil < 10; fil++)
        {
            for (int col = 0; col < 10; col++)
            {
                if (fil == 0 && col > 0)
                {
                    <div class="col btn btn-danger border casilla " disabled="true">@letra(col)</div>
                }
                else if (fil > 0 && fil< 9 && col == 0)
                {

                    <div class="col btn btn-danger border casilla" disabled="true">@fil</div>
                }
                else if (fil == 9 && col >= 0)
                {

                    <div class="col btn btn-danger border casilla" disabled="true">@letra(col)</div>

                }
                else if (fil != 0 && col == 9)
                {
                    <div class="col btn btn-danger border casilla" disabled="true">@fil</div>
                }
                else if (fil == 0 && col == 0)
                {
                    <div class="col btn btn-danger border casilla" disabled="true">@letra(col)</div>

                }


                else
                {
                    <div class="col btn btn-success border casilla" ></div>
                }


            }
            <div class="w-100"></div>


        }*@








            @*</div>*@
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>

            $("#tablero div").on("click", function (event) {
                var divId = $(this).attr("id");

                $.ajax({
                    url: "@Url.Action("Posicion")";
                    type: "Post",
                    data: { idcelda: divId },
                    success: function (data) {
                        alert(data);
                        //$("#prueba").html(data);
                        

                    }
                });
                //$('#' + divId).attr("disabled",true);



            });
        </script>

    </div>
@{
    string letra(int col)
    {
        string l = "";
        switch (col)
        {
            case 1:
                l = "A";
                break;
            case 2:
                l = "B";
                break;
            case 3:
                l = "C";
                break;
            case 4:
                l = "D";
                break;
            case 5:
                l = "E";
                break;
            case 6:
                l = "F";
                break;
            case 7:
                l = "G";
                break;
            case 8:
                l = "H";
                break;

        }

        return l;

    }
    


}

